<div class="navbar-pr">
    <div class="title-navbar">
        Xin chào, Phạm Đức Qúy
    </div>
    <div class="menu">
        <ul>
            <li><a routerLink="/cate/index">Danh mục</a></li>
            <li><a routerLink="/subcate/index">Danh mục phụ</a></li>
            <li><a routerLink="/childcate/index">Danh mục con</a></li>
            <li><a routerLink="/shipping/index">Danh mục shipping</a></li>
            <li><a href="">Danh sách user</a></li>
            <li><a href="">Danh sách slider</a></li>
            <li><a href="">Danh sách user tố cáo</a></li>
        </ul>
    </div>
</div>